<nav>
    <ul>
        <li>
            <a routerLink="/">Home</a>
        </li>
        <li>
            <a routerLink="about">About</a>
        </li>
        <li>
            <a routerLink="about/otro">Otro</a>
        </li>
        <li>
            <a routerLink="about/otro2">Otro2</a>
        </li>
        <li>
            <a routerLink="about/info">Info</a>
        </li>
        <li>
            <a routerLink="books/Iliada">Iliada</a>
        </li>
        <li>
            <a routerLink="books/nada">Nada</a>
        </li>
        <li>
            <a routerLink="books/lista">Listado de libros</a>
        </li>
        <li>
            <a routerLink="contactos">Formulario de contactos</a>
        </li>
        <li>
            <a routerLink="car">Ejemplo de coche</a>
        </li>
    </ul>
</nav>